<div id="<%= dom_id(participation) %>" class="flex justify-between">
  <p><%= participation.user.name %></p>
  <% if participation.additional_participations_number > 0 %>
    <p>+ <%= participation.additional_participations_number %></p>
  <% end %>
</div>
