<div class="container flex justify-center">
  <div class="flex flex-col">
    <h2 class="text-center mt-5 mb-5"><%= t(".title") %></h2>

    <div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, input_html: { class: "flex mb-5" } %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
          <% end %>

          <%= f.input :firstname,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "given-name", class: "flex mb-5" } %>
          <%= f.input :lastname,
                    autofocus: false,
                    input_html: { autocomplete: "family-name", class: "flex mb-5" } %>

          <%= f.input :password,
                      hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
                      required: false,
                      input_html: { autocomplete: "new-password", class: "flex" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password", class: "flex mb-5" } %>
          <%= f.input :current_password,
                      hint: t(".we_need_your_current_password_to_confirm_your_changes"),
                      required: true,
                      input_html: { autocomplete: "current-password", class: "flex mb-5" } %>
        </div>

        <div class="form-actions text-center mt-5">
          <%= f.button :submit, t(".update"), class: "cursor-pointer border-2 border-blue-600 rounded bg-blue-400 mt-2 p-2" %>
        </div>
      <% end %>

      <div class="mt-10">
        <p><%= t(".unhappy") %>  <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "text-blue-600" %></p>
      </div>

      <div class="mt-5">
        <%= link_to t("devise.shared.links.back"), :back, class: "text-blue-600" %>
      </div>

    </div>
  </div>
</div>
