<div class="container flex justify-center">
  <div class="flex flex-col">
    <h2 class="text-center mt-5 mb-5"><%= t(".sign_up") %></h2>

    <div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "flex" } %>
          <%= f.input :firstname,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "given-name", class: "flex" } %>
          <%= f.input :lastname,
                      autofocus: true,
                      input_html: { autocomplete: "family-name", class: "flex" } %>
          <%= f.input :password,
                      required: true,
                      hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: "flex" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password", class: "flex" } %>
        </div>

        <div class="form-actions text-center mt-5">
          <%= f.button :submit, t(".sign_up"), class: "cursor-pointer border-2 border-blue-600 rounded bg-blue-400 mt-2 p-2" %>
        </div>
      <% end %>

      <div class="text-center mt-5">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
