@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    overflow: hidden;
    @apply text-15 text-body;
    line-height: 1.5;
    //font-family: "Euclid Circular B", "serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


* {
    flex-shrink: 0; /* Work around Safari's unconventional flexbox behavior */
    word-break: break-word; /* Replace by overflow-wrap: anywhere when supported by Safari */
}
