<%= turbo_frame_tag dom_id(event) do %>
  <div class="border border-blue-600 rounded mt-3 p-3 card" data-controller="event">

    <%= render "events/event_core", event: event, participations_count: participations_count %>

    <%= render "events/links/accept_decline", event: event, participation: event.participations.new %>

  </div>
<% end %>