<%= turbo_frame_tag "core_#{dom_id(event)}" do %>
  <%= link_to event_path(event), "data-turbo-frame": "_top" do %>
  <div class="border border-blue-600 rounded mt-3 p-3 bg-gray-200">
    <div class="text-sm flex justify-between px-1 rounded bg-orange-100">
      <p class="italic"><%= l(event.created_at, format: :short) %></p>
      <p class="italic"><%= event.author.name %></p>
    </div>

    <p class="text-lg font-bold mt-3"><%= event.title %></p>
    <p><%= event.description %></p>
  </div>
  <% end %>

  <div id="<%= dom_id(event) %>_participations" class="border border-blue-600 rounded mt-3 p-3 bg-orange-300">
    <p class="text-sm italic px-1 mb-1 rounded bg-orange-700">Participants : <span id="<%= dom_id(event) %>_participations_count"><%= participations_count || (event.participations.size + event.participations.sum(&:additional_participations_number)) %></span></p>
    <%= render event.participations if !participations_count %>
  </div>
<% end %>