
<%= turbo_frame_tag dom_id(event) do %>
  <div class="border rounded mt-3 p-3 card border-blue-600" data-controller="event" data-event-status-value=<%= event_status(event) %>>

    <%= render "events/event_core", event: event, participations_count: participations_count %>

    <% if policy(event).destroy_current_user_participation? %>
      <%= render "events/links/cancel_decline", event: event %>
    <% elsif current_user && (event.author != current_user) %>
      <%= render "events/links/accept_decline", event: event, participation: event.participations.new %>
    <% end %>

  </div>
<% end %>
