<%= simple_form_for event,
  html: { id: dom_id(event) },
  data: { controller: "form", action: "turbo:submit-end->form#reset" } do |f| %>

  <div class="border rounded p-3 bg-white">
    <div id="event_form_fields">
      <%= f.input :title, label: false, placeholder: "* Ajoutez un évènement", required: true, input_html: {class: "rounded min-w-full mt-2"}  %>
      <%= f.input :description, label: false, placeholder: "Ajoutez une description", input_html: {class: "rounded min-w-full mt-2"}  %>
    </div>
    <div class="flex justify-between mt-2">
      <%= f.submit "Envoyer", class: "border border-blue-600  rounded bg-blue-200 p-2" %>
      <% if event.persisted? %>
        <%= link_to "Annuler", event_path(event), class: "border border-blue-600 rounded bg-gray-200 p-2" %>
      <% end %>
    </div>
  </div>
<% end %>