<%= turbo_frame_tag dom_id(event) do %>
  <div class="border border-blue-600 rounded mt-3 p-3 card" data-controller="event" data-event-status-value=<%= event_status(event) %>>
    <%= render "events/event_core", event: event, participations_count: participations_count %>

    <% if policy(event).destroy? %>
      <div class="flex justify-between mt-4">
        <%= link_to "Modifier", edit_event_path(event), class: "border border-blue-600 rounded bg-gray-200 p-1" %>
        <%= button_to "Supprimer", event_path(event), method: :delete, class: "border border-blue-600 cursor-pointer rounded bg-gray-100 p-1", "data-turbo-frame": "_top" %>
      </div>
    <% elsif policy(event).destroy_current_user_participation? %>
      <%= render "events/links/cancel_decline", event: event %>
    <% elsif current_user && (event.author != current_user) %>
      <%= render "events/links/accept_decline", event: event, participation: event.participations.new %>
    <% end %>

  </div>
<% end %>