<div class="flex flex-col">

  <%= link_to "EMETTRE", new_event_path, class: "text-center font-bold rounded border-2  border-blue-600 bg-orange-500 p-2 mt-5" %>

  <%= turbo_stream_from "events" %>

  <div id="events">
    <%= render @events, participations_count: @participations_count  %>
  </div>

</div>
