<div class="container flex justify-center">
  <div class="flex flex-col">
    <h2 class="text-center mt-5 mb-5"><%= t(".sign_in") %></h2>

    <div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "flex" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password", class: "flex" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions text-center mt-5">
          <%= f.button :submit, t(".sign_in"), class: "cursor-pointer border-2 border-blue-600 rounded bg-blue-400 mt-2 p-2" %>
        </div>
      <% end %>

      <div class="text-center mt-5">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>