<div id="<%= dom_id(event) %>_links" class="flex justify-center mt-3" data-event-target="waiting">
  <%= simple_form_for [event, participation],
  html: { id: dom_id(participation) },
  data: { controller: "form", action: "turbo:submit-end->form#reset", "turbo-frame": "_top" } do |f| %>

    <div class="flex justify-around">
      <%= f.submit "Je viens", class: "border-2 border-blue-600 rounded text-black bg-blue-400 p-1" %>
      <p class="ml-2 mr-1 mt-2">avec +</p>
      <div id="participation_form_fields">
        <%= f.input :additional_participations_number, label: false, placeholder: "0", required: false, input_html: {class: "rounded w-16"}  %>
      </div>
    </div>
  <% end %>
</div>