<div id="<%= dom_id(event) %>_links" class="flex justify-center mt-3" data-event-target="accepted">
  <%= button_to "Annuler", destroy_current_user_participation_event_participations_path(event), method: :delete, class: "border border-blue-600 cursor-pointer rounded bg-gray-100 p-1" %>
</div>