<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiHost</key>
	<string>backend-hl3bly7uka-ew.a.run.app</string>
	<key>apiPort</key>
	<integer>443</integer>
</dict>
</plist>
