<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719337728540-2t1p2mh105nasdu1c4pomh1eqqou5h30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719337728540-2t1p2mh105nasdu1c4pomh1eqqou5h30</string>
	<key>API_KEY</key>
	<string>AIzaSyCi1J8CkQzCF0O90Q0O781ajC5vS-LBzi0</string>
	<key>GCM_SENDER_ID</key>
	<string>719337728540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexandrecarlier.TalkieWalkie</string>
	<key>PROJECT_ID</key>
	<string>talkiewalkie-305117</string>
	<key>STORAGE_BUCKET</key>
	<string>talkiewalkie-305117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719337728540:ios:93680dd3b055064da78dd9</string>
	<key>DATABASE_URL</key>
	<string>https://talkiewalkie-305117-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>