@tailwind base;
@tailwind components;


/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.card[data-event-status-value=""], .card[data-event-status-value="waiting"] {
  @apply bg-blue-800;
  /* background-color: theme("colors.blue.800"); */
}
.card[data-event-status-value="accepted"] {
  background-color: theme("colors.green.300");
}
.card[data-event-status-value="owned"] {
  background-color: theme("colors.orange.200");
}

:link, a {
  text-decoration: none;
}

.simple_form .hint {
  @apply mb-5;
}


@tailwind utilities;