.spinner {
    @apply block text-primary rounded-full;
    width: 32px;
    height: 32px;

    border: 2px solid currentColor;
    border-right-color: transparent;
    animation: rotate 0.75s linear infinite;

    &.center {
        @apply m-auto;
    }

    &.small {
        @apply h-16 w-16;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
